<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Southwind.React.Properties.Settings.ConnectionString"
         connectionString="Data Source=localhost;Initial Catalog=Southwind_LIVE;Integrated Security=true;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Insert"/>
  </system.web>
</configuration>