#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
}

#footer {
    height: 60px;
    background-color: #f8f8f8;
}

    #footer .container {
        text-align: center;
    }

.container .text-muted {
    margin: 20px 0;
}

.navbar {
    padding: 5px;
    margin: 0px;
    border-radius: 0px;
    background-color: #f8f8f8;
}

.nav-link {
    white-space: nowrap;
}

#hero {
    width: calc(100% + 30px);
    position: relative;
    margin-top: -10px;
    margin-left: -15px;
}

    #hero:before {
        content: "";
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero .hero-container {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

h1.white {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 6px rgb(43 43 43);
}

h2.white {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
    text-shadow: 1px 1px 6px rgb(43 43 43);
}
