html,
body,
#reactDiv {
    height: 100%;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
}

#footer {
    height: 60px;
    background-color: #f8f8f8;
}

    #footer .container {
        text-align: center;
    }

.container .text-muted {
    margin: 20px 0;
}

.navbar {
    padding: 5px;
    margin: 0px;
    border-radius: 0px;
    background-color: #f8f8f8;
}

.footerContainer {
    margin: 15px 0;
    text-align: center;
}

.theme-selector {
    width: auto;
}

navbar-header {
    white-space: nowrap;
}

.theme-selector {
    width: 130px;
    margin-top: 8px;
}

@media (max-width: 350px) {
    .omnibox-container {
        margin-top: 5px;
    }
}

.nav-link{
    white-space: nowrap;
}

div.order-detail input.form-control {
    width: 100%;
}

div.order-detail {
}

    div.order-detail.repeater-inline .sf-repeater-element legend {
        margin-left: -10px;
        margin-right: -14px;
    }

    div.order-detail.repeater-inline .form-group.form-sm {
        margin-bottom: 0px;
    }
