html,
body,
#reactDiv {
    height: 100%;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    display:flex;
}

#footer {
    height: 60px;
    background-color: #f8f8f8;
}

    #footer .container {
        text-align: center;
    }

.container .text-muted {
    margin: 20px 0;
}

.navbar {
    min-height: 56px;
    padding: 0px 8px;
    margin: 0px;
    border-radius: 0px;
    background-color: #f8f8f8;
}

.footerContainer {
    margin: 15px 0;
    text-align: center;
}

.theme-selector {
    width: auto;
}

navbar-header {
    white-space: nowrap;
}

.theme-selector {
    width: 130px;
    margin-top: 8px;
}

#sfOmnibox {
    width: 200px;
    margin-top: 8px;
}

/*Media */
@media (max-width: 350px) {
    .hidden-under-350 {
        display: none !important;
    }
}

.visible-under-350 {
    display: none !important;
}

@media (max-width: 350px) {
    .visible-under-350 {
        display: block !important;
    }
}


div.order-detail input.form-control {
    width: 100%;
}

div.order-detail {
}

    div.order-detail.repeater-inline .sf-repeater-element legend {
        margin-left: -10px;
        margin-right: -14px;
    }

    div.order-detail.repeater-inline .form-group.form-sm {
        margin-bottom: 0px;
    }
