#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
}

#footer {
    height: 60px;
    background-color: #f8f8f8;
}

    #footer .container {
        text-align: center;
    }

.container .text-muted {
    margin: 20px 0;
}

.navbar {
    padding: 5px;
    margin: 0px;
    border-radius: 0px;
    background-color: #f8f8f8;
}

.nav-link{
    white-space: nowrap;
}

div.order-detail input.form-control {
    width: 100%;
}

div.order-detail {
}

    div.order-detail.repeater-inline .sf-repeater-element legend {
        margin-left: -10px;
        margin-right: -14px;
    }

    div.order-detail.repeater-inline .form-group.form-sm {
        margin-bottom: 0px;
    }
