#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
}

.container .text-muted {
    margin: 20px 0;
}

.nav-link {
    white-space: nowrap;
}

#hero {
    width: calc(100% + 30px);
    position: relative;
    margin-top: -10px;
    margin-left: -15px;
}

    #hero .hero-container {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

@media (max-width: 575.98px) {
    #hero .hero-container {
        position: static;
        margin-top: 20px;
    }
}

@media (max-height: 800.0px) {
    #hero .hero-container {
        position: static;
        margin-top: 20px;
    }
}

h1.white {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 6px rgb(43 43 43);
}

h2.white {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
    text-shadow: 1px 1px 6px rgb(43 43 43);
}


.omnibox::placeholder {
/*    color: rgba(255, 255, 255, 0.8);  Match nav-link color*/
}
