
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.js.map
Southwind.Web/Translations
packages/*
!packages/repositories.config
Southwind.Web/Scripts/**/*.js
.vs/
Southwind.React/node_modules/*
Southwind.React/dist/*
Southwind.React/Translations/*
Southwind.React/CodeGen/*
/Southwind.React/wwwroot/dist/*
/Southwind.React/web.config
/Southwind.React/ts_out/*
