@using Southwind.Entities
@using Southwind.Web.Controllers
@using (var cc = Html.TypeContext<CategoryDN>())
{
    <div class="row">

        <div class="col-sm-3">
            <img class="img-responsive"  src="@(Url.Action<HomeController>(hc => hc.CategoryPhoto(cc.Value.ToLite())))" />
        </div>

        <div class="col-sm-9">
            @Html.ValueLine(cc, c => c.CategoryName)
            @Html.ValueLine(cc, c => c.Description)

        </div>
    </div>
}
