@using Southwind.Entities

<fieldset>
    <legend>Simple filters for Order</legend>
    @using (var ofc = Html.TypeContext<OrderFilterModel>())
    {
        ofc.LabelColumns = new BsColumn(3);
        @Html.EntityLine(ofc, a => a.Customer, el=>el.Create = false)
        @Html.EntityCombo(ofc, a => a.Employee)

        ofc.LabelColumns = new BsColumn(6);
        <div class="row">
            <div class="col-sm-6">
                @Html.ValueLine(ofc, a => a.MinOrderDate)
            </div>
            <div class="col-sm-6">
                @Html.ValueLine(ofc, a => a.MaxOrderDate)
            </div>
        </div>

    }
</fieldset>
