<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Southwind.Test.Environment.Properties.Settings.ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Southwind;Integrated Security=true"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
