<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Southwind.Test.Environment.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Southwind;Integrated Security=true" />
    </connectionStrings>
</configuration>