<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Southwind.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Southwind.Windows.Properties.Settings.LocalDatabaseConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Southwind_Local;Integrated Security=true" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      
      <wsHttpBinding>
        <binding name="friendBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="8388608">
          <readerQuotas maxArrayLength="2147483647"/>
        </binding>
      </wsHttpBinding>

      <basicHttpBinding>
        <binding name="ws" maxReceivedMessageSize="10067108864" messageEncoding="Mtom" transferMode="Streamed">
        </binding>
      </basicHttpBinding>
      
    </bindings>
    <client>
      <endpoint address="http://olmostudio/Southwind.Web/ServerSouthwind.svc" binding="wsHttpBinding" bindingConfiguration="friendBinding" contract="Southwind.Services.IServerSouthwind" name="server"/>
      <endpoint address="http://olmostudio/Southwind.Web/ServerSouthwindTransfer.svc" binding="basicHttpBinding" bindingConfiguration="ws" contract="Southwind.Services.IServerSouthwindTransfer" name="serverTransfer"/>
     
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Southwind.Windows.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
    </Southwind.Windows.Properties.Settings>
  </userSettings>
</configuration>
