@using Signum.Utilities;
@using Newtonsoft.Json.Linq;

@{

    string json = File.ReadAllText(Path.Combine(Server.MapPath("~/dist/"), "webpack-assets.json"));
    var webpackAssets = JObject.Parse(json).Properties()
        .ToDictionary(a => a.Name, a => Url.Content("~/dist/" + (string)a.Value["js"]));
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="wrap"></div>
    <div id="footer">
        <div class="container">
            <p class="text-muted">Made by <a href="http://signumsoftware.com/">Signum Software</a>  using <a href="http://signumframework.com/">Signum Framework</a>.</p>
        </div>
    </div>
 

    <div id="reactBody"></div>
    <script>
        var __baseUrl = "@Url.Content("~/").RemoveEnd(1)";        
    </script>
    <script language="javascript" src="@webpackAssets.GetOrThrow("react")"></script>
    <script language="javascript" src="@webpackAssets.GetOrThrow("main")"></script>
</body>
</html>
