@using Signum.Utilities;
@using System.IO;
@using Newtonsoft.Json.Linq;
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv

@{
    //FileNotFoundException??? You need to run 'yarn watch'. Requires:
    //- Node.js: https://nodejs.org/ 
    //- Yarn: https://yarnpkg.com/en/ 
    //- NPM Task Runner: https://marketplace.visualstudio.com/items?itemName=MadsKristensen.NPMTaskRunner)
    string json = File.ReadAllText(System.IO.Path.Combine(hostingEnv.WebRootPath, "dist/webpack-assets.json"));
    var main = (string)JObject.Parse(json).Property("main").Value["js"];

}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="reactDiv"></div>

    <script>
        var __baseUrl = "@Url.Content("~/")";
    </script>
    <script language="javascript" src="@Url.Content("~/dist/" + main)"></script>
</body>
</html>
