<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
	<add name="Southwind.Load.Properties.Settings.ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Southwind;Integrated Security=true"/>
    <add name="Southwind.Load.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
