html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#push
{
    height: 40px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

    #footer .container
    {
        text-align: center;
    }

.container .text-muted 
{
    margin: 20px 0;
}

.navbar
{
    margin: 0px;
    border-radius: 0px;
}

.footerContainer
{
    margin: 15px 0;
    text-align: center;
}

.theme-selector
{
    width: auto;
}

navbar-header
{
    white-space: nowrap;
}

.theme-selector
{
    width: 130px;
    margin-top: 8px;
}

#sfOmnibox
{
    width: 200px;
    margin-top: 8px;
}

/*Media */
@media (max-width: 350px)
{
    .hidden-under-350
    {
        display: none !important;
    }
}

.visible-under-350
{
    display: none !important;
}

@media (max-width: 350px)
{
    .visible-under-350
    {
        display: block !important;
    }
}


div.order-detail input.form-control
{
    width: 100%;
}

div.order-detail
{
}

    div.order-detail.repeater-inline .sf-repeater-element legend
    {
        float: left;
        margin-left: -10px;
        margin-right: -14px;
        border: 0px;
        margin-top: -4px;
    }

    div.order-detail.repeater-inline .form-group.form-sm
    {
        margin-bottom: 0px;
    }
