@using Southwind.Web
@using Southwind.Web.Controllers

@{
    this.ViewBag.Title = "Southwind Project";
}

<br />
<div class="jumbotron">
    <h1>Welcome to Signum Framework!</h1>
    <br />
    <p>Southwind is a demo application based on Northwind database from Microsoft</p>
    <p>
        To learn more about Signum Framework visit <a href="http://www.signumframework.com" title="Signum Framework">http://www.signumframework.com</a>.
    </p>
    <p>
        You will also need to know <a href="http://asp.net/mvc">ASP.NET MVC</a>, <a href="http://jquery.com/" title="Bootstrap">jQuery</a>, <a href="http://getbootstrap.com/" title="Bootstrap">Bootstrap</a> and <a href="http://www.typescriptlang.org/" title="Bootstrap">Typescript</a>.
    </p>
</div>


<footer class="navbar navbar-fixed-bottom">

    <div class="container">
        <div class="footerContainer">
            Powered by <a href="http://signumframework.com/">Signum Framework</a>
        </div>
    </div>
</footer>


